
#custom-search-input {
        position: relative;
        margin: 0;
        margin-top: 5%;
        margin-bottom: 0.5%;
        margin-left: 10%; 
        padding: 10px;
        width: 200%;

    }

#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    z-index: 1;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-input button {
    border: 0;
    background: none;
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: skyblue;
}

.search-query:focus + button {
    z-index: 3;   
}


#row2{
    margin-top: 100px;
}

#Links{
    position: relative;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    margin-right: 5%;
}

#title{
    margin-top: -0.5%;
}


#ProductDisplay{
    position: relative;
    margin-top: 0px;
}